# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box

# No variables / env files
variables.txt

# ignore output_vsphere
packer/all/output_vsphere

# Ignore CODE workspace files
aws-packer-hcl.code-workspace
