#version=RHEL8
# Use graphical install
# from original
# graphical
#
repo --name="AppStream" --baseurl=file:///run/install/sources/mount-0000-cdrom/AppStream
# from rocky
# Install OS instead of upgrade
# install
# License agreement
eula --agreed

# Use text mode install
text
# Disable Initial Setup on first boot - from rocky
firstboot --disable

# From original
%packages
@^server-product-environment
@development
@scientific
@system-tools
kexec-tools
dhcp-client
cloud-init
cloud-utils-growpart

%end

# Keyboard layouts - original
keyboard --xlayouts='us'
# System language - orginal
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens192 --onboot=on
network  --hostname=localhost.localdomain

# Use CDROM installation media - orginal
cdrom

# Run the Setup Agent on first boot - original
# firstboot --enable

# System bootloader configuration
bootloader --location=mbr --append="crashkernel=auto"
# Clear the Master Boot Record
zerombr
ignoredisk --only-use=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part pv.14860 --fstype="lvmpv" --ondisk=sda --size=50184
part /boot/efi --fstype="efi" --ondisk=sda --size=600 --fsoptions="umask=0077,shortname=winnt"
part /boot --fstype="xfs" --ondisk=sda --size=1024
volgroup VG01 --pesize=4096 pv.14860
logvol /var --fstype="xfs" --size=10240 --name=varvol --vgname=VG01
logvol swap --fstype="swap" --size=4096 --name=swapvol --vgname=VG01
logvol /home --fstype="xfs" --size=10240 --name=homedtsvol --vgname=VG01
logvol /tmp --fstype="xfs" --size=5120 --name=tmpvol --vgname=VG01
logvol / --fstype="xfs" --size=10240 --name=rootvol --vgname=VG01
logvol /opt --fstype="xfs" --size=10240 --name=optvol --vgname=VG01

# System timezone
timezone America/Los_Angeles --isUtc --nontp

# Password br0wNGoffer$
# As SHA512 openssl passwd -6
rootpw --iscrypted $6$b9Nu0c6Vb.fJkC1k$9xifr.km8PmcaUVuZD8DBT8Y1RMEPgXoB5vUGePY5mK7r7806kiC8jbVemPgZRULE1DhYXG7mz2HHgmxk0Sm8/

# Add a user named packer
user --name=packer --plaintext --password br0wNGoffer$ --groups=wheel
#
# reboot after successful installation
reboot

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --nochroot --logfile=/mnt/sysimage/root/ks-post.log
# Disable quiet boot and splash screen
sed --follow-symlinks -i "s/ rhgb quiet//" /mnt/sysimage/etc/default/grub
sed --follow-symlinks -i "s/ rhgb quiet//" /mnt/sysimage/boot/grub2/grubenv

# Passwordless sudo for the user 'packer'
echo "packer ALL=(ALL) NOPASSWD: ALL" >> /mnt/sysimage/etc/sudoers.d/packer

# configure cloud-init
if [ -f /etc/cloud/cloud.cfg ]; then
  sed -i -e 's/DEBUG/WARNING/g' /etc/cloud/cloud.cfg.d/05_logging.cfg
  sed -i -e '1i \\' /etc/cloud/cloud.cfg
  sed -i -e '1i datasource_list: [ Ec2, OVF, None ]\' /etc/cloud/cloud.cfg
  sed -i -e '/disable_root/s/1/0/' /etc/cloud/cloud.cfg
  sed -i -e '/ssh_pwauth/s/0/1/' /etc/cloud/cloud.cfg
  sed -i -e '/locale_configfile/d' /etc/cloud/cloud.cfg
  sed -i -e '/ - default/a \ - name: cloud-user' /etc/cloud/cloud.cfg
  sed -i -e '/ - name: cloud-user/a \ \ \ ssh-authorized-keys:' /etc/cloud/cloud.cfg
  # XXX Must be changed for real installations
  sed -i -e '/   ssh-authorized-keys:/a \ \ \ \ - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQD0AM9KjV92vd9SlA4XDFv0HwPsQW7hDRt1iXy7YmNz1EQy9J0CQgfk3/xhvPDmLigt4ubODH8i00G9btUNmGDbdnlUgeReJLaWMJIG0Pe7U4eCF4iM4sOxBrUV+xuLk9zZPvGaDgWe1Aj73VIy42HbDpmDPGYXfiltDSQEWGKxl1zTkTHzZyEncHsVNNP2P0KzpmIv3ViONHbUHR9Z+bWdJCs1bw6AeLfrDGELJ5TiSpeRG5m5UcuCtKCvZDma6L1d87M3SJgM/EOgniDRyYWHB8hLa2/kIJKpuxkhXYsx8Gk1rPD3MYiocRlC9HakdytZdGwM4+KfKPC+Pr6wjE+uI+/hW2Zba76rbrCF2MXRctLdGHnhIMkgxXQd7v2bslKr7h921loi/cFmuvrUMzDGEW1EEcGi0chszLWhD0LgCttM5M8gOO6Ak0j0cf/fsGUuflt/u7VbFOkh863xYVOhYnME7sLff2aSG0ySc4PrG53cD622gOzFaiZjEi1XY+0= dgertsch@AHD-C17ZL095MD6N' /etc/cloud/cloud.cfg
  /bin/rm -rf /var/lib/cloud/* > /dev/null 2>&1
fi

%end